.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

#spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    width: 100px;
    transform: translate(-50%, -50%);
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #eee
}